*{
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
}

body {
    overflow: auto;  
  }
  
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }

  .averia-serif-libre-light {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .averia-serif-libre-regular {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .averia-serif-libre-bold {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  .averia-serif-libre-light-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .averia-serif-libre-regular-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .averia-serif-libre-bold-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
  }
  .passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .carattere-regular {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
  }


.catamaran-regular {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-abc {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .cantarell-regular {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cantarell-bold {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cantarell-regular-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cantarell-bold-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  

  body::-webkit-scrollbar {
    display: none;
  }

.main-01{
    background: linear-gradient(#405C8A, #111824);
    width: 100%;
    height: 745px;
    color: white;
}

.icon-bar{
    margin-top: 53px;
    margin-left: 70px;
    display: inline-block;
    /* background-color: aquamarine; */
}

.icon-bar h2{
    font-family: "Abril Fatface";
}

.icon-bar p{
    font-family: "Birthstone Bounce";
}

.nav-bar{
    margin-right: 50px;
    margin-top: 50px;
    float: right;
    /* background-color: rgb(208, 255, 127); */
    

}

.nav-bar ul{
    
    display: flex;
}

.nav-bar li{
    padding-right: 70px;
    list-style: none;
    font-size:x-large;
    font-family: "Inclusive Sans";
}

#li01,#li02,#li03,#li04{
    padding-top: 8px;
}

.nav-bar li a{
    text-decoration: none;
    color: white;
}

.nav-bar button{
    width: 150px;
    height: 47px;
    border-radius: 5px;
    border:0px solid;
    background: linear-gradient(#405C8A, #111824);
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.main-01-a{
    /* background-color: blueviolet; */
    display: inline-block;
    margin-left: 70px;
    margin-top: 150px;
}

.main-01-a h1{
font-size: 65px;    
font-family: "Passion One";
}

.main-01-a p{
    padding-top: 70px;
    font-size: 25px;
    font-family: "Averia Serif Libre";
}

.main-01-b{
    display: inline-block;
    /* background-color: rgb(177, 110, 22); */
    position:absolute;
    margin-top: 80px;
    margin-left: 150px;
    width : 600px;
    height : 530px;
}

.main-01-b video{
    height: 500px;
    width: 600px;
}

.main-02{
    text-align: center;
    padding-top: 160px;
    font-size: 30px;
    height: 500px;
}

.sec-para{
    padding-top: 80px;
}

.main-03{
    background: linear-gradient( #111824, #405C8A);
    width: 100%;
    height: 745px;
    

}

.main-03 p{
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 90px;
    font-family: "Carattere";
}


.video-grid-01 {
    margin-top: 70px;
    margin-left: 140px;
    width: 1300px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* background-color: aquamarine; */
    
}

.video-grid-01 video{
    border-radius: 10px;
    object-fit: cover;
    height: 400px;
    width: 600px;
}

.main-03 button{
    width: 150px;
    height: 52px;
    border-radius: 5px;
    border:0px solid;
    background: linear-gradient(0.25turn, #4181E1, #24477B );
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    color: white;
    margin-left: 690px;
    margin-top: 40px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.main-04{
    height: 450px;
}

.main-04-a{
    font-size: 27px;
    /* background-color: aquamarine; */
    display: inline-block;
    margin-left: 100px;
    margin-top: 150px;
}

.main-04-a h1{
    font-family: "Passion One";
}

.main-04-b{
    font-size: 20px;
    float: right;
    margin-top: 150px;
    margin-right: 100px;
    line-height: 1.6;
    font-family: "Catamaran";
}

.main-05{
    background-color: #9C8E5F;
    height: 745px;
    width: 100%;
    color: white;
}

.main-05 h1{
    display: inline-block;
    margin-left: 70px;
    margin-top: 60px;
    font-size: 70px;
    font-family: "Passion One";
}

.main-05 p{
    display: inline-block;
    margin-left: 50px;
    font-size: 50px;
    font-family: "Carattere";
}

.photo-grid{
    margin-top: 40px;
    margin-left: 50px;
    width: 1300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.photo-grid img{
    width: 430px;
    height: 330px;

    margin-right: 35px;
    border-radius: 10px;
}

.main-05 h3{
    margin-top: 40px;
    text-align: center;
    font-size: xx-large;
    font-family: "Carattere";
}

.main-05 button{
    width: 150px;
    height: 52px;
    border-radius: 5px;
    border:0px solid;
    background: linear-gradient(90deg, #B5A56F 34.14%, #4F4831 100%);
    color: white;
    margin-left: 690px;
    margin-top: 50px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.main-06{
    height: 500px;
}

.main-06 h1{
    text-align: center;
    margin-top: 140px;
    font-size: 80px;
    font-family: "Passion One";
}

.main-06 button{
    width: 200px;
    height: 65px;
    border-radius: 5px;
    border:0px solid;
    background: linear-gradient(90deg, #9B6E4C 0%, #35261A 100%);
    color: white;
    margin-left: 600px;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.main-07{
    background: #1E1E1E;
    width: 100%;
    height: 150px;

}

.main-07 img{
    height: 40px;
    width: 40px;
    margin-left: 100px;
    margin-top: 57px;
}

.mail-id{
    position: absolute;
    display: inline-block;
    margin-top: 65px;
    margin-left: 13px;
    font-size: 20px;
    font-family: "Cantarell";
}

.socials{
    color: white;
    float: right;
    /* display: inline-block; */
    font-size: 20px;
    margin-top: 65px;
    font-family: "Cantarell";
    /* margin-right: 500px; */
}

.main-07 a{
    /* text-decoration: none; */
    color: white;
}

.instagram{
    float: right;
    /* margin-right: 100px; */
}

.facebook{
    float: right;
    /* margin-right: 100px; */
    
}

.twitter{
    float: right;
    margin-right: 100px;
}

