* {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box; /* To ensure consistent padding/margin */
    letter-spacing: 1px;
}

body {
    overflow: auto; 
}

body::-webkit-scrollbar {
    display: none;
}

.main-01 {
    background: linear-gradient(90deg, #111824 -4.1%, #1C293D 4.64%, #283A57 55.61%);
    width: 100%;
    height: 120px;
    color: white;
    display: flex; /* Flexbox for better alignment */
    justify-content: space-between; /* Align icon-bar and nav-bar */
    align-items: center;
    padding: 0 50px;
}

.icon-bar {
    display: inline-block;
}

.icon-bar h2 {
    font-family: "Abril Fatface", sans-serif;
    margin-bottom: 5px;
}

.icon-bar p {
    font-family: "Birthstone Bounce", cursive;
}

.nav-bar{
    height: 60px;
    /* background-color: aquamarine; */
}

.nav-bar ul {
    /* background-color: burlywood; */
    height: 60px;
    /* padding-top: 10px; */
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;
}

.nav-bar li {
    padding-right: 50px;
    font-size: large;
    font-family: "Inclusive Sans", sans-serif;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


#li01, #li02, #li03, #li04 {
    padding-top: 20px;
}

.profile {
    color: white;
    /* background-color: rgb(127, 151, 38); */
    background: linear-gradient(180deg, #2C3F5D 29.14%, #5C84C3 83.14%);

    border: 0px solid ;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 3px;
    
}

.nav-bar span {
    /* background-color: rgb(194, 124, 32); */
    font-size: 35px; /* Adjust the size as needed */
    vertical-align: middle; /* To vertically align with text */
    padding-top: 1px;
    
}


.main-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: linear-gradient(#0a101c, #5C84C3);
    height: 115vh; /* Full viewport height */
}

.main-02 h1 {
    /* background-color: #5C84C3; */
    font-size: 50px;
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}

.event-container, .personal-container{
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    width: 1320px;
    justify-content: space-between;
    /* background-color: antiquewhite;  */
}

.event-container input, .personal-container input{
    margin-top: 50px;
    padding-left: 15px;
    border-radius: 10px;
    font-size: large;
    background: linear-gradient(90deg, #293A57 0%, #597EBD 100%);
    border: 0px;
    color: white;
    height: 60px;

}

.event-name, .event-date, .no-of-mem{
    width: 400px;
    
}

.event-location, .budget{
    width: 600px;
}

.event-description, .about-yourself{
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, #293A57 0%, #597EBD 100%);
    border: 0px;
    height: 100px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    font-size: large;

}


.name, .mobile-no, .email{
    width: 400px;
}

.main-03{
    background: #1E1E1E;
    width: 100%;
    height: 120px;
}

.main-03 img{
    height: 40px;
    width: 40px;
    margin-left: 100px;
    margin-top: 40px;
}

.mail-id{
    position: absolute;
    display: inline-block;
    margin-top: 48px;
    margin-left: 13px;
    font-size: 20px;
    font-family: "Cantarell";
}

.socials{
    color: white;
    float: right;
    /* display: inline-block; */
    font-size: 20px;
    margin-top: 48px;
    font-family: "Cantarell";
    /* margin-right: 500px; */
}

.main-03 a{
    /* text-decoration: none; */
    color: white;
}

.instagram{
    float: right;
    /* margin-right: 100px; */
}

.facebook{
    float: right;
    /* margin-right: 100px; */
    
}

.twitter{
    float: right;
    margin-right: 100px;
}

