* {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box; /* To ensure consistent padding/margin */
    letter-spacing: 1px;
}

body {
    overflow: hidden; /* To restrict vertical scrolling */
}

body::-webkit-scrollbar {
    display: none;
}

.main-01 {
    background: linear-gradient(90deg, #111824 -4.1%, #1C293D 4.64%, #283A57 55.61%);
    width: 100%;
    height: 120px;
    color: white;
    display: flex; /* Flexbox for better alignment */
    justify-content: space-between; /* Align icon-bar and nav-bar */
    align-items: center;
    padding: 0 50px;
}

.icon-bar {
    display: inline-block;
}

.icon-bar h2 {
    font-family: "Abril Fatface", sans-serif;
    margin-bottom: 5px;
}

.icon-bar p {
    font-family: "Birthstone Bounce", cursive;
}

.nav-bar{
    height: 60px;
    /* background-color: aquamarine; */
}

.nav-bar ul {
    /* background-color: burlywood; */
    height: 60px;
    /* padding-top: 10px; */
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;
}

.nav-bar li {
    padding-right: 50px;
    font-size: large;
    font-family: "Inclusive Sans", sans-serif;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


#li01, #li02, #li03, #li04 {
    padding-top: 20px;
}

.profile {
    color: white;
    /* background-color: aquamarine; */
    background: linear-gradient(180deg, #2C3F5D 29.14%, #5C84C3 83.14%);

    border: 0px solid ;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 3px;
    
}

.nav-bar span {
    /* background-color: antiquewhite; */
    font-size: 35px; /* Adjust the size as needed */
    vertical-align: middle; /* To vertically align with text */
    padding-top: 1px;
    
}


.main-2{
    display: flex;
    background: linear-gradient( #0f1520 , #5C84C3);
    height: 1100px;
    justify-content: center;
}

.search-bar{

    margin-top: 100px;
    width: 600px;
    height: 50px;
    padding-left: 50px;
    background: #D9D9D942;
    border: 0px solid;
    border-radius: 5px;
    color: aliceblue;
    
    
}



