.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone-bounce-regular {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .birthstone-bounce-medium {
    font-family: "Birthstone Bounce", cursive;
    font-weight: 500;
    font-style: normal;
  }

  .averia-serif-libre-light {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .averia-serif-libre-regular {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .averia-serif-libre-bold {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  .averia-serif-libre-light-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .averia-serif-libre-regular-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .averia-serif-libre-bold-italic {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
  }
  .passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .carattere-regular {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
  }


.catamaran-regular {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-abc {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .cantarell-regular {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cantarell-bold {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cantarell-regular-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cantarell-bold-italic {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  * {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    box-sizing: border-box; 
    letter-spacing: 1px;
    
}

body {
    overflow: auto; 
}

body::-webkit-scrollbar {
    display: none;
}
  
.main{
  display: flex;
}

.main-01 {
    background: linear-gradient(90deg, #111824 -4.1%, #1C293D 4.64%, #283A57 55.61%);
    width: 100%;
    height: 100px;
    color: white;
    display: flex; /* Flexbox for better alignment */
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.icon-bar {
    display: inline-block;
    /* background-color: blueviolet; */
}

.icon-bar h2 {
    font-family: "Abril Fatface", sans-serif;
    margin-bottom: 5px;
}

.icon-bar p {
    font-family: "Birthstone Bounce", cursive;
}

.nav-bar{
    width: 700px;
    height: 60px;
    /* background-color: aquamarine; */
   
}

.nav-bar ul {
    display: flex; /* Flexbox for better alignment */
    justify-content: space-between;
    /* background-color: burlywood; */
    height: 60px;
    display: flex;
    list-style: none;
}

.nav-bar li {
    font-size:20px;
    font-family: "Inclusive Sans", sans-serif;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


#li01, #li02, #li03, #li04 {
    padding-top: 20px;
}

.profile {
    color: white;
    /* background-color: rgb(127, 151, 38); */
    background: linear-gradient(180deg, #2C3F5D 29.14%, #5C84C3 83.14%);
    border: 0px solid ;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 3px;
    
}

.nav-bar span {
    /* background-color: rgb(194, 124, 32); */
     font-size: 35px; /*Adjust the size as needed */
    vertical-align: middle; /* To vertically align with text */
    padding-top: 1px;
    
}
