*{
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
}


.main-01{
    background-color: rgb(221, 215, 250);
    width: 100%;
    height: 745px;
}

.icon-bar{
    margin-top: 50px;
    margin-left: 70px;
    display: inline-block;
    background-color: aquamarine;
}

.nav-bar{
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
    float: right;
    background-color: rgb(208, 255, 127);

}

.nav-bar ul{
    
    display: flex;
}

.nav-bar li{
    padding-right: 70px;
    list-style: none;
    font-size:x-large;
}

.nav-bar li a{
    text-decoration: none;
    color: black;
}

.nav-bar button{
    width: 150px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid;
}

.main-01-a{
    background-color: blueviolet;
}